.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 13px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .image {
    /* HEIGHT AND WIDTH NEEDS UPDATING - USE ONLY Vert Images */
    height: 375px;
    width: 250px;
    margin: 10px;
  }
  
  .info {
    flex: 2;
  }
  
  @media (max-width: 600px) {
    .event {
      flex-direction: column;
      text-align: center;
    }

    .image {
      width: 150px;
      height: 200px;
    }
  
    .info {
      margin-bottom: 20px;
    }
  }