@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

:root {
  --primary-dark: #2d3436;
  --secondary-dark: #636e72;
  --primary-white: #fff;
  --button-primary: #6c5ce7;
  --button-secondary: #d63031;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Comfortaa', cursive;
  line-height: 1.8;
  color: var(--primary-dark);
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

a:hover{
  color: var(--secondary-dark);
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: var(--button-primary);
  color: var(--primary-white);
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: var(--button-secondary);
  color: var(--primary-white) !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}